.component {
    /* width: 90%; */
    min-height: 250px;
    /* max-height: 220px; */
    background-color: white;
    margin: 20px 10px;
    border-radius: 10px;
    /* border: 1px solid rgba(128, 128, 128, 0.288); */
    position: relative;
}

.component:hover {
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.288);
}

.thumbnail-image {
    width: 100%;    
    overflow: hidden;
    /* position: absolute; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.thumbnail-image > img {
    width: 100%;
    /* transform: scale(1.5); */
    object-fit: cover;
    /* height: 200px; */
    /* border-top-left-radius: 6px;
    border-top-right-radius: 6px; */
    border: 6px;
    transition: 2.5s;
 }

 .thumbnail-image > img:hover {
    transform: scale(1.5);
 }

.thumbnail-title {
    padding: 20px 10px 20px 10px;
    /* position: absolute; */
    bottom: 10%;
    color: black;
    font-weight: 700;
    transition: 2.5;
    text-align: left;
    border-top: 1px solid white;
    margin: 10px;
}
.thumbnail-title:hover {
    color: rgb(113, 177, 233);
}