.grid {
    display: flex;
    width: 84%;
    margin-left: 8.0%;
}

.row {
    width: 100%;

}


.home {
    width:100%;
    background-color: white;
}

#bufferblock {
    height: 250px;
    text-align: center;
    color: rgba(0, 0, 0, 0.337);
}

.tag{
    padding: 5px 10px;
    border-radius: 10px;
    margin: 5px 5px;
    background-color: #02f1204d;
    font-weight: bold;
}